<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ServerAddresses>
    <string>http://192.168.1.104:5678</string>
  </ServerAddresses>
  <Login></Login>
  <Password></Password>
  <AutoLogin>false</AutoLogin>
  <NoFullScreen>true</NoFullScreen>
  <WindowWidth>1360</WindowWidth>
  <WindowHeight>768</WindowHeight>
  <AutoloadInterfaces>
    <!--
    <string>l-pack://l-pack_erp/production/production_tasks</string>
    -->
  </AutoloadInterfaces>
</Config>